In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import date
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1749,tt0462244,6000000,18197398,Daddy Day Camp,Cuba Gooding Jr.|Tamala Jones|Paul Rae|Lochlyn...,Fred Savage,The summer is going to be in tents.,Seeking to offer his son the satisfying summer...,89,Comedy|Family,Revolution Studios|TriStar Pictures,8/8/2007,4.8,2007
770,tt0822847,60000000,78309131,Priest,Paul Bettany|Cam Gigandet|Karl Urban|Lily Coll...,Scott Stewart,Vampire Killer,"In an alternate world, humanity and vampires h...",87,Action|Fantasy|Horror|Science Fiction|Thriller,Screen Gems|Stars Road Entertainment|Buckaroo ...,5/5/2011,5.3,2011
589,tt0273799,12000000,17292381,Max Keeble's Big Move,Alex D. Linz|Zena Grey|Nora Dunn|Larry Miller|...,Tim Hill,His World. His Rules.,"Max Keeble, the victim of his 7th grade class,...",86,Comedy|Family|Fantasy|Science Fiction,Walt Disney Pictures|Karz Entertainment,10/5/2001,5.3,2001
513,tt0265666,21000000,71441250,The Royal Tenenbaums,Gene Hackman|Anjelica Huston|Ben Stiller|Gwyne...,Wes Anderson,"Family isnâ€™t a word, itâ€™s a sentence.",An estranged family of former child prodigies ...,110,Comedy|Drama,Touchstone Pictures,10/5/2001,7.3,2001
789,tt1601913,25000000,77278331,The Grey,Liam Neeson|Dermot Mulroney|Frank Grillo|Dalla...,Joe Carnahan,Live or Die on This Day,An oil drilling team struggles to survive afte...,117,Action|Drama|Thriller,Scott Free Productions|1984 Private Defense Co...,12/11/2011,6.3,2011

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6078 entries, 0 to 1888
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               6078 non-null   object
 1   budget                6078 non-null   int64
 2   revenue               6078 non-null   int64
 3   original_title        6078 non-null   object
 4   cast                  6078 non-null   object
 5   director              6078 non-null   object
 6   tagline               6078 non-null   object
 7   overview              6078 non-null   object
 8   runtime               6078 non-null   int64
 9   genres                6078 non-null   object
 10  production_companies  6078 non-null   object
 11  release_date          6078 non-null   datetime64[ns]
 12  vote_average          6078 non-null   float64
 13  release_year          6078 non-null   int64
 14  profit                6078 non-null   int64
 15  release_month         6078 non-null   int64
 16  overview_length       6078 non-null   int64
 17  title_len             6078 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(8), object(8)
memory usage: 902.2+ KB

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# другие предобработки колонок:
data['profit'] = data['revenue'] - data['budget'] # создание столбца "Прибыль": сборы - бюджет
data['release_date'] = pd.to_datetime(data['release_date']) #создание столбца "Дата релиза"
data['release_month'] = data['release_date'].map(lambda date: date.month) #создание столбца "Месяц релиза"
data['overview_length'] = data.overview.apply(len) #создание столбца "Длина символов в описании"

# 1. У какого фильма из списка самый большой бюджет?

In [5]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [6]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_length
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5,411

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [8]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_length
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2,307

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [10]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_length
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,4,305

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110'

In [12]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '107'

In [14]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = '239. Avatar (tt0499549)'

In [16]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_length
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12,175

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [18]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_length
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,386

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1478'

In [20]:
len(data[data.revenue - data.budget > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [22]:
data[data.release_year == 2008].sort_values(['revenue'], ascending = False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_length
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7,396

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [24]:
data[(data.release_year >= 2012) & (data.release_year < 2015)].sort_values(['profit'], ascending = True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_length
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,386

# 11. Какого жанра фильмов больше всего?

In [25]:
answers['11'] = 'Drama'

In [26]:
pd.Series(data.genres.str.cat(sep = '|').split('|')).value_counts().head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
answers['12'] = 'Drama'

In [28]:
import collections
Profitable_genres = collections.Counter()
temp_data = data[data.profit > 0].genres.str.split('|', expand = False)
for lists in temp_data:
    for genre in lists:
        Profitable_genres[genre] += 1
Profitable_genres.most_common(5)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
answers['13'] = 'Peter Jackson'

In [30]:
data.director.str.cat(sep = '|').split('|')
data[data.revenue > data.revenue.mean()].groupby(['director']).revenue.sum().sort_values(ascending = False).head()

director
Peter Jackson        6397068099
David Yates          4154295625
Christopher Nolan    3904434265
Michael Bay          3800763669
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [31]:
answers['14'] = 'Robert Rodriguez'

In [32]:
pd.Series(data[data.genres.str.contains('Action')].director.str.cat(sep = '|').split('|')).value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Alfonso CuarÃ³n       1
Adam McKay            1
Allen Hughes          1
Steven Quale          1
Noam Murro            1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [33]:
answers['15'] = 'Chris Hemsworth'

In [34]:
Profitable_films_2012 = data[(data.release_year == 2012)].sort_values(['revenue'], ascending = False).head(1)
Profitable_films_2012.cast.unique()

array(['Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'],
      dtype=object)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [35]:
answers['16'] = 'Matt Damon'

In [36]:
High_budget_film = data[data.budget > data.budget.mean()]
Actor_list = pd.Series(High_budget_film['cast'].str.cat(sep = '|').split('|')).value_counts()
Actor_list

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Tom Cruise           15
                     ..
David Zayas           1
Jon Bernthal          1
Haley Joel Osment     1
Tom Cavanagh          1
John Ortiz            1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [37]:
answers['17'] = 'Action'

In [38]:
Nicolas_Cage_films = data[data.cast.str.contains('Nicolas Cage')]
Nicolas_Cage_genres = pd.Series(Nicolas_Cage_films['genres'].str.cat(sep = '|').split('|'))
Nicolas_Cage_genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [39]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [40]:
Paramount_films = data[data.production_companies.str.contains('Paramount Pictures')]
Paramount_films.sort_values(['profit'], ascending = True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_length
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,7,140

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [41]:
answers['19'] = '2015'

In [42]:
Annualy_groups = data.groupby(['release_year'])[['revenue']].sum()
Annualy_groups.sort_values(['revenue'],ascending = False)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

# 20. Какой самый прибыльный год для студии Warner Bros?

In [43]:
answers['20'] = '2014'

In [44]:
Waner_Bros_films = data[data.production_companies.str.contains('Warner Bros')]
Waner_Bros_films.groupby(['release_year'])[['profit']].sum().sort_values(['profit'],ascending = False)

                  profit
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682
2003          1855493377
2009          1822454136
2013          1636453400
2004          1631933725
2005          1551980298
2001          1343545668
2012          1258020056
2002          1022709901
2015           870368348
2006           620170743
2000           452631386

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [45]:
answers['21'] = 'Сентябрь'

In [46]:
data.groupby(['release_month']).nunique().sort_values('imdb_id', ascending = False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,overview_length
release_month,,,,,,,,,,,,,,,,
9,227,70,227,227,227,192,227,227,65,132,220,154,33,16,227,177
12,190,80,190,190,187,145,189,190,79,117,185,135,36,16,190,159
10,186,67,186,186,186,163,186,186,62,112,173,141,37,16,186,154
8,161,65,161,161,161,147,161,161,51,102,152,124,32,16,161,137
3,156,74,156,156,156,137,156,156,54,118,149,111,30,16,156,137
4,149,66,149,149,149,137,148,149,56,100,138,115,30,16,149,134
6,147,68,147,147,147,127,147,147,57,102,132,122,38,16,147,127
11,146,65,146,146,145,134,146,146,61,110,139,114,31,16,146,126
7,142,66,142,142,142,122,142,142,62,105,138,110,33,16,142,112
5,140,77,140,140,137,127,140,140,66,102,133,116,31,16,140,124
2,135,54,135,135,135,121,135,135,49,95,133,102,31,16,135,120
1,110,45,110,110,110,105,110,110,45,80,108,91,33,16,110,97

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [47]:
answers['22'] = '450'

In [48]:
June_films = data[data.release_month == 6]['original_title'].nunique() 
July_films = data[(data.release_month == 7)]['original_title'].nunique() 
August_films = data[(data.release_month == 8)]['original_title'].nunique() 
Summer_films = June_films + July_films + August_films
Summer_films

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [49]:
answers['23'] = 'Peter Jackson'

In [50]:
December_films = data[data['release_month'] == 12]
January_films = data[data['release_month'] == 1] 
February_films = data[data['release_month'] == 2]
Winter_films = pd.concat([December_films, January_films, February_films])
Winter_films.director.str.split('|').value_counts().sort_values(ascending = False).head()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Peter Jackson]        7
[Steven Soderbergh]    6
[Clint Eastwood]       6
[Nancy Meyers]         4
[Shawn Levy]           4
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [51]:
answers['24'] = 'Four By Two Productions'

In [52]:
data['production_companies'] = data.production_companies.str.split('|')
data = data.explode('production_companies')
data['title_len'] = data['original_title'].apply(len)
data.groupby('production_companies').title_len.mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = 'Midnight Picture Show'

In [57]:
data['production_companies'] = data.production_companies.str.split('|')
data = data.explode('production_companies')
data['overview_length'] = data.overview.apply(len)
Overview_length = data[data.overview_length >= data.overview_length.mean()].groupby(['production_companies'])
Overview_length.overview_length.mean().sort_values(ascending=False)

production_companies
GreeneStreet Films                  1000.0
Midnight Picture Show               1000.0
Room 9 Entertainment                 964.0
Brookwell-McNamara Entertainment     936.0
Affirm Films                         936.0
                                     ...
Spectacle Entertainment Group        309.0
Nightfall Productions                309.0
Foresight Unlimited                  308.0
Captivity Productions                308.0
RAMCO                                308.0
Name: overview_length, Length: 1043, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [86]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [73]:
vote_max = 1888*0.01 # первые 19 фильмов по рейтингу
data[(data.vote_average > data.vote_average.mean())].sort_values(['vote_average'], ascending=False).head(19)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,overview_length,title_len
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,Legendary Pictures,2008-07-16,8.1,2008,816921825,7,396,15
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,Warner Bros.,2008-07-16,8.1,2008,816921825,7,396,15
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics,2008-07-16,8.1,2008,816921825,7,396,15
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,Syncopy,2008-07-16,8.1,2008,816921825,7,396,15
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Bristol Automotive,2014-11-14,8.0,2014,219555708,11,287,18
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Studios Motion Pictures,2015-06-09,8.0,2015,678708609,6,638,10
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Pixar Animation Studios,2015-06-09,8.0,2015,678708609,6,638,10
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures,2015-06-09,8.0,2015,678708609,6,638,10
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures,2014-11-05,8.0,2014,456752480,11,222,12
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Legendary Pictures,2014-11-05,8.0,2014,456752480,11,222,12
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures,2015-10-16,8.0,2015,29401758,10,243,4
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Warner Bros.,2014-11-05,8.0,2014,456752480,11,222,12
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Syncopy,2014-11-05,8.0,2014,456752480,11,222,12
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures,2014-11-14,8.0,2014,219555708,11,287,18
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,A24,2015-10-16,8.0,2015,29401758,10,243,4
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Lynda Obst Productions,2014-11-05,8.0,2014,456752480,11,222,12
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,No Trace Camping,2015-10-16,8.0,2015,29401758,10,243,4
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Duperele Films,2015-10-16,8.0,2015,29401758,10,243,4
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Heritage Films,2002-09-24,7.9,2002,85072577,9,238,11

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [87]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint '

In [83]:
cast_pair = data.copy()
cast_pair['cast'] = cast_pair.cast.str.split('|')
cast_pair.cast = cast_pair.cast.apply(lambda x: list(combinations(sorted (x), 2)))
cast_pair.cast.explode('cast').value_counts()
#cast_pair.explode('cast').cast.mode()

(Helena Bonham Carter, Johnny Depp)    30
(Ben Stiller, Owen Wilson)             29
(Emma Watson, Rupert Grint)            25
(Daniel Radcliffe, Emma Watson)        25
(Daniel Radcliffe, Rupert Grint)       25
                                       ..
(Gabrielle Union, Jesse Bradford)       1
(Ben Affleck, Giovanni Ribisi)          1
(Michael T. Weiss, Pam Grier)           1
(Dustin Hoffman, Rachelle Lefevre)      1
(Gabourey Sidibe, Paula Patton)         1
Name: cast, Length: 17943, dtype: int64

# Submission

In [88]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint '}

In [89]:
len(answers)

27